.inner_container{
	width:1240px;
	margin: 0 auto;
}

.header_wrapper{
	background:#942d2e;
	padding:5px 0px;
}
.header_wrapper .navbar-default,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent;
	border: 0px;
}

.header_wrapper .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    height: 27px;
    line-height: 27px;
}

.header_wrapper .navbar-nav li
{
	border-right: 2px dotted #fff;
}

.header_wrapper .navbar-nav
{
	padding-top: 5px;
}

.header_wrapper .navbar-nav li:last-child
{
	border-right: 0px;
}

.header_wrapper .open>.dropdown-menu {
    margin-top: 14px !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.header_wrapper .dropdown-menu>li:hover,
.header_wrapper .dropdown-menu>li>a:focus,
.header_wrapper .dropdown-menu>li>a:hover {
    background: #51b7c0;
    color: #fff;
}

.header_wrapper .navbar-nav .dropdown li{
	border-right:0px;

}

.dropdown-menu>li>a {
    display: block;
    padding: 8px 20px;
  }

.header_wrapper .navbar-default .navbar-nav>li>a:hover,
.header_wrapper .navbar-default .navbar-nav>.open>a,
.header_wrapper .navbar-default .navbar-nav>.open>a:focus,
.header_wrapper .navbar-default .navbar-nav>.open>a:hover {
    color: #fff !important;
}

.navbar {
    min-height: auto;
    margin-bottom: 0px;
}

.header_wrapper .navbar .dropdown img {
	margin-right: 10px
}


#login_wrapper {
	background-color:#f7f7f7;
}

.form_style	h3{
	margin: 25px;
    color: #2e2e33;
    font-size: 42px;
	}

#login_wrapper	h4{
		margin-bottom: 22px;
	}
.form_style .navbar-form{
	border:1px solid #ccc;
	padding:20px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
}

#login_wrapper .navbar-form{	
	width: 25%;
}

.form_style .navbar-form .form-group {
    width: 90%;
}

#login_wrapper .btn{
	width: 37%;
    border-radius: 20px;
    padding: 11px;
    border: 1px solid #50b6bf;
    font-size: 14px;
    margin-top: 25px;
    color:#50b6bf;

   }
	

.form_style	input{
		border:0px;
		border-bottom:2px solid #ddd;
		box-shadow:none;
		border-radius:0px;
		width: 100%;
		margin-bottom: 13px;
		margin-right: 10px;
	}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none
}


@media (max-width: 1239px){
.inner_container{
	width:100%;
}

}


@media (min-width: 992px) && (max-width: 1239px)
{
	.logo{
		text-align: right;
	}

	#login_wrapper .navbar-form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 40%;
	}

}


@media (max-width: 767px)
{
	.logo{
		text-align: left;
	}

	.header_wrapper .navbar-nav li{
		border: 0px
	}

	.nav>li {
    display: inline-block;
	}
	#login_wrapper .navbar-form{
		width: 100%
	}

}

