.padding_zero{
	padding:0px;
}
.margin_zero{
	margin:0px
}

.inner_container{
	width:1240px;
	margin: 0 auto;
}

.header_wrapper{
	background:#942d2e;
	padding:5px 0px;
}


#login_wrapper .navbar-form{
	border:1px solid #ccc;
	padding:20px;
	width: 36%;
    margin: 0 auto;
    text-align: center;
}